
.debug-line{
    -fx-background-color: #161661;
}

.keyword {
    -fx-fill: peru;
    -fx-font-weight: bold;
}
.normal {
    -fx-fill: #aaaaaa;
}
.semicolon {
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: #e8c683;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: darkgreen;
}

.comment {
	-fx-fill: cadetblue;
}
.builtins {
    -fx-fill: #9e619e;
}
.paragraph-box:has-caret {
    -fx-background-color: #404040;
}
